@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
} 
html, body {
    min-height: 100vh;
    background-color: rgb(7, 7, 7);
    font-family:var(--font1) ;
}
header{
    background-color: black;
    color: rgb(59, 50, 50);
    text-align: center;
    background-image: url(imagens/Carlos\ Drummond\ de\ Andrade.png);   
    background-size:cover;
    background-position: center;
    background-color: rgba(36, 34, 34, 0.479);
box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.397);
background-attachment: fixed;
}
header > h1{
    padding: 50px;
    font-variant: small-caps
    ;
    font-family: var(--font2);
    font-size: 10vh;
}
header >p{
    padding-bottom: 50px;
}
header a, footer a{
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--font3);
}
header a:hover, footer a:hover{
    text-decoration:underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;font-family: var(--font3);
    font-size: 3.5vh;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: var(--font3);
}
section.imagem{
    background-color: rgba(36, 34, 34, 0.479);
color: white;
box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.397);
background-attachment: fixed;
}
section.imagem > p{
    background-color: rgb(78, 74, 74);
    color: white; display:inline-block 
    ;
    background-color: rgba(0, 0, 0, 0.479);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url(imagens/d004.png);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(imagens/background002.jpg);background-size: cover;

}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}